* {
	margin: 0px;
	padding: 0px;

}

body {
	margin-top: 70px!important;
}

ul {
	list-style-type: none!@important;;
}

ul.navbar-right {
	margin-right: 0;
}

.unread-count {
	background-color: #d9534f!important;
}

.search-form button[type='submit'] {
	background: none;
	border: none;
	margin-left: -3em;
	color: #aaa;
}